*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --brand-color: #2196F3;
    --white-color: #ffffff;
    --black-color: #212121;
    --grey-color: #757575;
    --grey-footer-color: rgba(255, 255, 255, 0.6);
    --background-black: #2F303A;
}
h1,
h2,
h3 {
    margin: 0;
}

p {
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--black-color);
    margin: 0;
    padding: 0;
}

.link:hover,
.link:focus,
a[href*="tel"]:focus,
a[href*="mailto"]:focus,
a[href*="tel"]:hover,
a[href*="mailto"]:hover {
    color: var(--brand-color);
    fill: var(--brand-color);
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
button {
    cursor: pointer;
}

.link {
    text-decoration: none;
}

.image-portfolio {
    width: 370px;
    height: 294px;
}

.logo {
    font-size: 26px;
    line-height: 1.2;
    color: var(--brand-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-decoration: none;
}

.logo-span {
    font-size: 26px;
    line-height: 1.2;
    color: var(--black-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

.logo-footer {
    font-size: 26px;
    line-height: 1.2;
    color: var(--brand-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

.logo-span-footer {
    font-size: 26px;
    line-height: 1.2;
    color: var(--white-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

.nav {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    color: var(--black-color);
}

.nav-contact {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    color: var(--grey-color);
    fill: #757575;
    display: flex;
}
.header-phone{
    letter-spacing: 2px;
}

.nav-footer {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 400;
    color: var(--grey-footer-color);
}

h1 {
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    color: var(--white-color);
    text-align: center;
    padding-bottom: 30px;
}

.list{
    list-style: none;
}

.main-button {
    font-size: 16px;
    line-height: 1.87;
    font-weight: 700;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--brand-color);
    color: var(--white-color);
}

.filter-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    border: none;
    border-radius: 4px;
    height: 38px;
    background: #F5F4FA;
    color: var(--black-color);
    padding: 6px 22px;
    
}

.filter-button:hover,
.filter-button:focus{
    background-color: var(--brand-color);
    border-radius: 4px;
     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--white-color);
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
h3 {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    color: var(--black-color);
    padding-bottom: 10px;
}

p {
    font-size: 14px;
    line-height: 1.71;
    font-weight: 400;
    color: var(--grey-color);
}

h2 {
    font-size: 36px;
    line-height: 1.16;
    font-weight: 700;
    color: var(--black-color);
    padding-bottom: 50px;
}

.team-member {
    font-size: 16px;
    line-height: 1.18;
    font-weight: 500;
    color: var(--black-color);
}

.card-title {
    font-size: 16px;
    line-height: 1.18;
    font-weight: 400;
    color: var(--grey-color);
}

.address-footer {
    font-size: 14px;
    line-height: 1.71;
    font-weight: 400;
    color: var(--white-color);
}

figure>figcaption>.title {
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
    color: var(--black-color);
}

.image-description {
    font-size: 16px;
    line-height: 1.87;
    font-weight: 400;
    color: var(--grey-color);
    background-color: var(--white-color);
    position: relative;
    z-index: 3;
}
.container{
    width: 1200px;
    margin: auto;
}
.border-line{
    border-bottom: 1px solid #ECECEC;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
}
.navigation{
    display: flex;
    gap: 46px;
    padding-left: 93px;
    flex-direction: row;
}
.contact-header{
    padding-left: 350px;
    display: flex;
   
}
.header-mail{
    padding-right: 30px;
}
#main-section{
    padding: 0;
}
.main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
    width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/background1.jpg);
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.lorem-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.lorem-list-element{
    width: 270px;
}
#second-section{
    padding: 0;
    padding-bottom: 94px;
}
.second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-images{
    display: flex;
    gap: 30px;
}
.team{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-cards{
    display: flex;
    gap: 30px;
}
.team-card{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.card-title{
    /* text-align: center;
    padding: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 30px 16px 30px;
}
.footer{
    width: 1600px;
    background-color: var(--background-black);
    padding-left: 215px;
    padding-bottom: 60px;
    display: flex;
}
.footer-contact{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.address-footer{
    padding-top: 20px;
    padding-bottom: 9px;
}
.filter-buttons{
    display: flex;
    justify-content: center;
    gap: 8px;
    
}
.images-portfolio{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    flex-basis: calc((100% - 60px) / 3);
}
#filter-buttons-section{
    padding:0;
    padding-top: 94px;
    padding-bottom: 50px;
}
#images-portfolio-section{
    padding: 0;
    padding-bottom: 94px;
}
.image-description{
    border: 1px solid #EEEEEE;
    border-top: 0;
    padding: 20px;   
}
.icon-letter{
    margin-right: 10px;
    
}
.icon-phone{
    margin-right: 4px;
    
}
.lorem-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
}
.icon-antenna1-box,
.icon-clock1-box,
.icon-diagram1-box,
.icon-astronaut1-box{
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
    border-radius: 4px;
}
.social-icons{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 30px;
    fill: #AFB1B8;
}
.card-instagram-box,
.card-twitter-box,
.card-facebook-box,
.card-linkedin-box{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-instagram-box:hover,
.card-twitter-box:hover,
.card-facebook-box:hover,
.card-linkedin-box:hover{
    fill: var(--white-color);
    background-color: var(--brand-color);
    border-radius: 50%;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* Our customers section*/
#customers{
    padding: 0;
    padding-bottom: 94px;
}
.customers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icon-company1-box,
.icon-company2-box,
.icon-company3-box,
.icon-company4-box,
.icon-company5-box,
.icon-company6-box{
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons-company{
    display: flex;
    gap: 30px;
}
.icon-company1-box:hover,
.icon-company2-box:hover,
.icon-company3-box:hover,
.icon-company4-box:hover,
.icon-company5-box:hover,
.icon-company6-box:hover{
    fill: var(--brand-color);
    border: 1px solid var(--brand-color);
    cursor: pointer;
    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* End*/
.main-footer{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    
}
.join-us{
    display: flex;
    flex-direction: column;
    padding-left: 171px;
    padding-top: 72px;
}
.join-us-title{
    color: var(--white-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    padding-bottom: 20px;
}
.footer-social-icons{
    display: flex;
    gap: 10px;
}
.footer-instagram-box,
.footer-twitter-box,
.footer-facebook-box,
.footer-linkedin-box{
    width: 44px;
    height: 40px;
    fill: var(--white-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-instagram-box:hover,
.footer-twitter-box:hover,
.footer-facebook-box:hover,
.footer-linkedin-box:hover{
    background-color: var(--brand-color);
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.image-portfolio-main:hover{
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition-property: box-shadow, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-images-title{
    color: var(--white-color);
    font-size: 14px;
    font-weight: 700;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    position: absolute;
    bottom: 0;
}
.main-image{
    position: relative;
}
.image-portfolio-main{
    position: relative;
    overflow: hidden;
}
.overlay-image-portfolio{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition-property: transform, background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
    padding-left: 24px;
    padding-top: 49px;
    padding-right: 45px;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--white-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;
    z-index: 2;
}
.image-portfolio-main:hover .overlay-image-portfolio{
    transform: translateY(0);
}
.active{
    position: relative;
}
.active::after{
    content: '';
    position: absolute;
    background-color: var(--brand-color);
    left: 0;
    bottom: -32px;
    display: inline-block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}
/*Backdrop with modal window*/
.backdrop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 528px;
    min-height: 581px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.close-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
/*End Backdrop*/
/*Newsletter footer*/
.newsletter-text{
    color: var(--white-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
}
.newsletter-input{
    width: 358px;
    background-color: var(--background-black);
    height: 50px;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    color: var(--white-color);
}
.nesletter-input::placeholder{
    color: rgba(255, 255, 255, 0.6);
}
.newsletter-label{
    display: flex;
    flex-direction: column;
    padding-top: 72px;
    gap: 20px;
    padding-left: 78px;
}
.newsletter-form{
    display: flex;
}
.sign-up-button{
    width: 200px;
    height: 50px;
    margin-top: 108px;
    margin-left: 12px;
    background-color: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    color: var(--white-color);
    font-size: 16p;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
/*Newsletter footer end*/
/*Backdrop form*/
.backdrop-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 40px;
}
.backdrop-form-btn{
    background-color: var(--brand-color);
    color: var(--white-color);
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
}
.backdrop-form-title{
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    line-height: 1.15;
    padding-bottom: px;
}
.backdrop-form-name,
.backdrop-form-phone,
.backdrop-form-email{
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
}
.backdrop-form-comment{
    width: 448px;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-top: 12px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    line-height: 1.16;
}
.backdrop-form-comment::placeholder{
    color: rgba(117, 117, 117, 0.5);
}
.backdrop-form-name:focus-within,
.backdrop-form-phone:focus-within,
.backdrop-form-email:focus-within,
.backdrop-form-comment:focus-within{
    border: 1px solid #2196F3;
    outline: none;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-form-label-name,
.backdrop-form-label-phone,
.backdrop-form-label-email,
.backdrop-form-label-comment{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.backdrop-form-label-name:focus-within,
.backdrop-form-label-phone:focus-within,
.backdrop-form-label-email:focus-within,
.backdrop-form-label-comment:focus-within{
    fill: var(--brand-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-person,
.icon-phone-form,
.icon-letter-form{
    position: absolute;
    display: inline-block;
    left: 15px;
    top: 32px;
}
.backdrop-form-name-title,
.backdrop-form-phone-title,
.backdrop-form-email-title,
.backdrop-form-comment-title{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 1.16;
    color: #757575;
}
.backdrop-form-rules + .backdrop-form-rules-title{
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    color: grey;
}
/* .backdrop-form-rules + .backdrop-form-rules-title::before{
    content: "";
    position: absolute;
    left: 0;
    margin-left: -28px;
    top: 16px;
    width: 16px;
    height: 15px;
    border: 2px solid black;
    background-color: var(--white-color);
    transition-property: background-color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-form-rules:checked + .backdrop-form-rules-title::before{
    content: "";
    position: absolute;
    left: 0;
    margin-left: -28px;
    top: 16px;
    width: 16px;
    height: 15px;
    border: none;
    background-color: var(--brand-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-form-rules:checked+.backdrop-form-rules-title::after {
    content: "";
    position: absolute;
    left: 0;
    margin-left: -28px;
    top: 16px;
    width: 16px;
    height: 15px;
    outline: none;
} */
.backdrop-form-rules-title{
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
}
.form-link{
    color: var(--brand-color);
}
.backdrop-form-rules {
    position: relative;
    opacity: 0;
}
.icon-check {
    position: absolute;
    top: 443px;
    left: 54px;
    
}
.backdrop-form-rules:checked + #icon-check{
    fill: white;
    border: 1px solid black;
    background: var(--brand-color);
}

/*Backdrop form end*/