*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 1200px;
    margin: auto;
}
body {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3 {
    margin: 0;
}

p {
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}
button {
    cursor: pointer;
}
$brandColor: #2196F3;
